<html lang="en">
  <head>
    {{>hedlinks}}
  </head>
  <body>
    {{>nav}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-12 col-12 main_header_left align-items-center">
             <h1 class="error">
              404 <br>
              
               <h3>{{Errormsg}}</h3>
             </h1> 
              <p>Welcome My Weather Applicatiopn</p>
              <a href="/"><button>Go-Back
              </button></a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   {{>footer}}
  </body>
</html>